<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <style type="text/css">
      a.deco-none {
        color:#000000 !important;
        text-decoration:none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="pull-right"><a href="admin"><span class="glyphicon glyphicon-log-in"></span></a></div>
        <a href="index" class="deco-none"><h1>Центр управления полетами</h1></a>
      </div>
    </div>
    <div class="container">
      {% for name, events in grouped_events %}
        <div class="panel panel-info" id={{loop.index}}>
          <div class="panel-heading">
            <div class="pull-right">
              Подходов: <span class="badge">{{ events|length|int }}</span>
            </div>
            {{ name }}
          </div>
          <div class="panel-body">
            {% for event in events %}
              <pre><code>{{ event|pretty_json }}</code></pre>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
