<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="pull-right"><a href="admin"><span class="glyphicon glyphicon-log-in"></span></a></div>
        <h1>Центр управления полетами</h1>
      </div>
    </div>
    <div class="container">
      {#
      <div>
        <marquee behavior="alternate" direction="right" scrollamount="3" scrolldelay="10" truespeed>
          {% for _ in range(5) %}
            <img src="/static/voenkom.jpg">
          {% endfor %}
        </marquee>
      </div>
      #}
      <table class="table table-bordered table-striped" style="margin-top: 15px">
        <thead>
          <tr>
            <th>#</th>
            <th>Студент</th>
            {% for _ in range(total_labs) %}
              <th class="text-center">Лаба №{{_+1}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for name, labs in students.items()|sort %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>
                <a href="events#{{loop.index}}"><span>{{name}}</span></a>
              </td>
              {% for _ in range(total_labs) %}
                <td class="text-center">
                  {% if labs.get(_+1, None) is not none %}
                    <span class="glyphicon glyphicon-ok" style="color:green"></span>
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
